html
  head
    title Task Details
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 You are viewing task #{id}
    ul
      li The title of the task is #{title}
      li #{completed ? "Task is completed" : "Task is not completed"}
