extends layout

block content
  h1= title
  
  .container
    .row.mb-4
      .col
        a.btn.btn-primary(href="/tasks/newtask") Add New Task
    
    .row
      .col
        if tasks && tasks.length > 0
          table.table.table-striped
            thead.table-dark
              tr
                th Title
                th Date
                th Status
                th Actions
            tbody
              each task in tasks
                tr
                  td
                    a(href=`/tasks/${task._id}`)= task.title
                  td= task.date ? new Date(task.date).toLocaleDateString() : 'No date'
                  td
                    span(class= task.completed ? 'badge bg-success' : 'badge bg-warning')
                      = task.completed ? 'Completed' : 'Pending'
                  td
                    a.btn.btn-sm.btn-info.me-2(href=`/tasks/${task._id}`) View
        else
          .alert.alert-info
            p No tasks found. Create a new task to get started.